.leftImg {
    float: left;
    width: 30%;
    min-width:10em;
    margin:1em 0 0.8em 0;
    padding-right: 0.8em;
}
.rightImg {
    float: right;
    width: 30%;
    min-width:10em;
    margin:3em 0 0.8em 0;
    padding-left: 0.8em;
}