#contents-right a:visited, #footer a:visited, #layout a:visited {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #8e3000;
    color: #8e3000;
}
#contents-right a, #header a, #footer a, #layout a, #accessibility a:visited, #layout a:visited, #path a:visited, #webmaster a, #webmaster a:visited {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #A8C0CF;
    padding-bottom:0.1em;
    color: #003366;
}
#contents-right a:hover, #header a:hover, #footer a:hover, #webmaster a:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #003366;
    padding-bottom:0.1em;
    color: #003366;
}