#header img {
    width: 50%;
    padding: 0;
    float:left;
}
#headerText {
    margin: 0;
    padding:0;
    clear:both;
}
#headerUtility {
    background-color:#EEEEEE;
    text-align:left;
    float:none;
    width:auto;
    margin:0;
    padding:0;
    width:100%;
    margin-bottom:-3em;
}
#headerUtility span{
   margin-right:55%;
}
#headerUtility form {
    float:right;
    text-align:right;
    margin-right:0;
    margin-top:-2.5em;
}
#headerUtility h1{
    margin-top:0;
    padding-top:0;
}
#footer {
    margin: 0;
}
#contents img, #contentsLong img, #imgLeft, #imgRight {
    display: none;
}
#skipUtilities {
    display:block;
}
#utilities {
    margin:0 0 0.8em 0 ;
    float: none;
    clear: both;
    width: 100%;
}
#header {
    margin: 0;
}
#main {
    margin: 0;
}
#contents-right {
    margin-left: 0em;
    clear:both;
}
#navigation li {
    margin: 0;
}
#contents dl, #contentsLong dl {
    width:100%;
}
#contents {
    padding: 0 0.8em 0 0.4em;
    margin: 0;
}
#navigation a, #navigation a:visited {
    padding: 0 0.8em 0 0.8em;
    margin: 0;
}
#navigation a:hover {
    background-color: #EEEEEE;
}
#navigation {
    float: none;
    width: 100%;
    margin-left:0;
    padding: 0;
}
#navigation li {
    display: inline;
    padding: 0.3em;
    margin: 0.1em;
    float: left;
    border-bottom: none;
    border-width: 1px;
    border-style: solid;
    border-color: #AAAAAA;
}
#footer {
    background-image: none;
}
#contents, #contentsLong, #contents-right {
    margin:0;
    padding:0.8em 0.2em 0.8em 0.2em;
}
#pathSelected {
    background:none;
}

.mobile {
    display:block;
}

.nonCambia {}

.aiutoxVisualizzazione {
	display: none;
}

form fieldset div.notes {
	display: none;
}

