#utilities {
    float: right;
    width: 25%;
    padding: 1.5em 0 1.2em 0;
    background-color: white;
}
#utilities p {
    padding: 0.8em;
    margin-bottom: 0.8em;
    background-color: #eeeeee;
    color: #30343B;
}
#utilities h1 {
    font-variant: small-caps;
    font-size: large;
    background-color: #30343B;
    color: white;
    line-height: 2em;
    font-size: large;
    padding:0 0.8em 0 0.8em;
    font-weight: bolder;
}
#utilities dl {
    margin-bottom:1.2em;
}
#utilities dt {
    background-color: #F7F7F7;
    color: #30343B;
    font-size: 1.2em;
    line-height:1.4em;
    padding: 0.4em 0.8em 0.4em 0.8em;
    font-variant: small-caps;
    font-weight: bolder;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
}
#utilities dd {
    padding: 0.4em 0.8em 0.4em 0.8em;
    background-color: #EEEEEE;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
}
#utilities h2 {
    background-color:#DDDDDD;
    padding:0.4em 0 0.4em 0.8em;
    font-size:1.4em;
    font-variant:small-caps;
}
#utilities ul {
    background-color:#EEEEEE;
    padding:0.8em;
    line-height:1.5em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
}